@elabcom rc file Version 1.0
[oh]
invokeDir = /home/sjp/Desktop/ICP2_verify/ICP2_verify
hostCommand = -lib /home/sjp/Desktop/ICP2_verify/ICP2_verify/work_lib/simv.daidir/work -saveLevel -elab /home/sjp/Desktop/ICP2_verify/ICP2_verify/work_lib/simv.daidir/kdb -simflow -simdir /home/sjp/Desktop/ICP2_verify/ICP2_verify/work_lib/simv.daidir/kdb_libs -top "uvm_\
custom_install_recording uvm_custom_install_verdi_recording top_tb" -Lf work +disable_message+C00380+C00381 +disable_message+C00388+C00389 -SNPS_ELABCOM -saveElab
simType = VCS
